<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>[% title %][% ' - Powered by ' IF title %][% version %]</title>

<link rel="stylesheet" type="text/css" href="[% c.config.extjs2 %]/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="[% c.uri_for( c.controller('LFB::Static').action_for('static'), "lfb.css" ) %]" />
[% IF c.req.user_agent.match('\.NET CLR') %]
<link rel="stylesheet" type="text/css" href="[% c.uri_for( c.controller('LFB::Static').action_for('static'), "iefix.css" ) %]" />
[% END %]

<script type="text/javascript" src="[% c.config.extjs2 %]/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="[% c.config.extjs2 %]/ext-all.js"></script>

<script type="text/javascript" src="[% c.uri_for( c.controller('LFB::Static').action_for('static'), "xdatetime.js" ) %]"></script>
</head>
<body onresize="Ext.getCmp('search-grid').view.refresh(true)">

<div id="banner">Catalyst LFB</div>

<div id="outer" class="box">
    <noscript>
        <div id="warning">
            <h3>Javascript disabled ?</h3>
            <br />
            <p>It seems your web browser has not started the Javascript components which are required to view this site.</p>
            <br />
            <p>If you have Javascript disabled, please enable it and reload this page.</p>
            <p>Otherwise, there could be a problem on the web server, so please contact this site's administrator.</p>
        </div>
    </noscript>

    <div id="header">
        [% IF title %]
        <div class="top">
            <div class="left">
                <a href="[% c.uri_for( c.controller('LFB::Root').action_for('db_picker') ) %]">Home</a> &gt;
                <a href="[% c.uri_for( c.controller('LFB::Root').action_for('db_picker'), db ) %]">[% dbtitle %]</a> &gt;
                [% IF lf.table2path.keys.size == 1 %]
                    [% lf.main.title %]
                [% ELSE %]
                    <select id="picker" onchange="window.location = document.getElementById(this.id).value">
                      [% FOREACH table IN lf.table2path.keys.sort %]
                        <option value="[% c.uri_for( c.controller('LFB::Root').action_for('db_picker'), db, lf.table2path.item(table) ) %]"
                            [% ' selected="selected"' IF table == lf.main.title %]>[% table %]</option>
                      [% END %]
                    </select>
                [% END %]
            </div>
            <div class="right">&nbsp;</div>
        </div>

        [% ELSE %]
            [% content %]
        [% END %]
    </div>
    
    <div id="content">
        [% IF title %]
            [% content %]
        [% END %]
    </div>
    
    <div id="footer">
        Powered by [% version %]
    </div>
</div> <!-- box -->

</body>
</html>
