<tr class="cpac_row[% ' cpac_stripe' IF count % 2 %]">
[% FOR col IN cpac.t.cols %]
    <td class="cpac_cell">
        [% PROCESS cell.tt
            value = item.$col
            meta  = cpac.m.f.$col
        %]
    </td>
[% END %]
</tr>

[% SET count = count + 1 %]
